*{
  margin: 0;
  padding: 0;
}
body{
  background-color: whitesmoke;
}
header{
  background-color: #133845;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.navbar-brand{
  font-size: 26px;
  font-family: sans-serif;
  font-weight: 600;
}
.post_section {
  top: 50px;
  position: absolute;
}
.post_actions{
  display: flex;
  justify-content: space-between;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10px;
}
.post_header div{
  display: flex;
  justify-content: space-between;
}
